.group6-container {
  min-height: 100vh;
}
.group6-group6 {
  width: 1071.9345703125px;
  height: 205.00296020507812px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.group6-group5 {
  top: 0px;
  left: 0px;
  width: 1070.99560546875px;
  height: 205.00296020507812px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.group6-text {
  top: 2.80517578125px;
  left: 494.9246826171875px;
  color: rgba(31, 40, 57, 1);
  width: 300px;
  height: auto;
  position: absolute;
  font-size: 27.34798240661621px;
  align-self: auto;
  font-style: ExtraLight;
  text-align: left;
  font-family: Manrope;
  font-weight: 200;
  line-height: 127.99999713897705%;
  font-stretch: normal;
  text-decoration: none;
}
.group6-text5 {
  top: 124.701904296875px;
  color: rgba(31, 40, 57, 1);
  width: 254px;
  height: auto;
  position: absolute;
  font-size: 27.34798240661621px;
  align-self: auto;
  font-style: ExtraLight;
  text-align: right;
  font-family: Manrope;
  font-weight: 200;
  line-height: 127.99999713897705%;
  font-stretch: normal;
  text-decoration: none;
}
.group6-group3 {
  top: 0px;
  left: 0.22662353515625px;
  width: 1070.76904296875px;
  height: 205.00296020507812px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.group6-s-v-g {
  top: 122.03955078125px;
  left: 296.11260986328125px;
  width: 775px;
  height: 83px;
  position: absolute;
  box-sizing: content-box;
}
.group6-s-v-g1 {
  top: 0px;
  left: 0px;
  width: 365px;
  height: 83px;
  position: absolute;
  box-sizing: content-box;
}
.group6-subtract {
  top: 0.32392439246177673px;
  left: 372.6705322265625px;
  width: 74px;
  height: 44px;
  position: absolute;
  box-sizing: content-box;
}
.group6-subtract1 {
  top: 204.3335723876953px;
  left: 372.6705322265625px;
  width: 74px;
  height: 44px;
  position: absolute;
  box-sizing: content-box;
}
.group6-rectangle6 {
  top: 55.17704391479492px;
  left: 372.6705322265625px;
  width: 9px;
  height: 95px;
  position: absolute;
  border-color: transparent;
}
.group6-line5 {
  top: 38.94343948364258px;
  left: 925.786865234375px;
  width: 146px;
  height: 0px;
  position: absolute;
}
.group6-line7 {
  top: 38.94343948364258px;
  left: 774.692626953125px;
  width: 105px;
  height: 0px;
  position: absolute;
}
.group6-line6 {
  top: 181.3515625px;
  left: 0.000244140625px;
  width: 105px;
  height: 0px;
  position: absolute;
}
