.group13-container {
  min-height: 100vh;
}
.group13-group13 {
  width: 26.3251953125px;
  height: 26.3251953125px;
  display: flex;
  opacity: 0.60;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.group13-line6 {
  top: 26.32514190673828px;
  left: 0px;
  width: 37px;
  height: 0px;
  position: absolute;
}
.group13-line7 {
  top: 21.250473022460938px;
  left: 26.3251953125px;
  width: 21px;
  height: 0px;
  position: absolute;
}
.group13-line8 {
  top: -0.00005433817932498641px;
  left: 5.0746684074401855px;
  width: 21px;
  height: 0px;
  position: absolute;
}
