.group8-container {
  min-height: 100vh;
}
.group8-group8 {
  width: 343px;
  height: 76.99614715576172px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(236, 237, 237, 1);
}
.group8-text {
  top: 23.998046875px;
  left: 88.562744140625px;
  color: rgba(31, 40, 57, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Neue Machina;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
