.rectangle1-container {
  min-height: 100vh;
}
.rectangle1-dummy-container {
  width: 100%;
  height: 900px;
}
.rectangle1-rectangle1 {
  width: 1515px;
  height: 743px;
  position: relative;
  border-color: transparent;
}
