.rectangle14-container {
  min-height: 100vh;
}
.rectangle14-dummy-container {
  width: 100%;
  height: 900px;
}
.rectangle14-rectangle14 {
  width: 172px;
  height: 331px;
  position: relative;
  border-color: rgba(31, 40, 57, 1);
  border-style: solid;
  border-width: 0.8999999761581421px;
}
